/*UNIVERSALS*/
/*blue = #3b3d57 rgb(59,61,87);
hunter = #293f23 rgb(41,63,35);
d. green = #21261f rgb(33,36,31);
yellow = #f4b603 rgb(244,182,3);
brown = #594936 rgb(89,73,54);*/
/*font-family: 'Princess Sofia', cursive;
font-family: 'Roboto Condensed', sans-serif;*/

body {
  background-image: url(../img/background.jpg);
  /*background-color: #21261f;*/
}

.container-fluid {
  margin: 0px !important;
}

.navi {
  padding-left: 15px;
  background-color: rgba(59, 61, 87, 0.5);
}

.nav_row {
color: #594936;
}

li a {
  font-family: 'Roboto Condensed', sans-serif;
  color: #f4b603;
  position: fixed;
  font-weight: bolder;
}

.jumbotron{
  background-image: url(../img/jumbotron.jpg);
  background-size: cover;
  height: 500px;
  transition-timing-function: ease-in;
  transition-duration: 3s;
}

h1 {
  font-family: 'Princess Sofia', cursive;
  color: #f4b603 !important;
  margin-left: 72%
}

.content {
  margin-bottom: 35px;
}

p {
  color: #3b3d57;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.home_col {
  border-radius: 10px;
  height: 100px;
  /*background-color: #3b3d57;*/
  text-align: center;
}

.content {
  height: 320px;
}

.content_padding {
  padding-top: 40px;
}
.content_text {
  padding-top: 15px;
  font-size: 20px;
}

.img-circle {
  height: 300px;
  width: 300px;
}

.btn-default {
  background-color: #f4b603;
  color: #3b3d57;
  text-align: center;
  padding: 0px 20px;
  font-size: 30px;
  margin-top: 24px;
}

footer {
  background: #293f23;
}

h3 {
  font-family: 'Princess Sofia', cursive;
  color: #f4b603;
  text-align: center;
  margin-top: 50px;
}

.contact_text{
  color: #f4b603;
}

/*---PASTRIES PAGE---*/
.pastries_h2{
  font-family: 'Princess Sofia', cursive;
  font-weight: bold;
  color: #f4b603;
  font-size: 35px;
}

.pastries_content {
  height: 350px;
  width: 390px;
  margin-top: 30px;
}

.pastries_text{
  font-size: 20px;
  font-weight: bolder;
  padding-top: 20px;
}
